@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-item-1 {
  background-color: white;
}

.title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}
.description {
  color: #adb5bd;
  font-size: 0.6rem;
  text-align: center;
  margin-bottom: 3rem;
}


.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  flex: 0 1 75%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
}
.input-email,
.input-password {
  width: 100%;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-family: inherit;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.remember-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.remember-checkbox > label,
.forgot > p {
  font-weight: 500;
  font-size: 0.8rem;
  color: #adb5bd;
}
.sign-in-btn {
  width: 100%;
}

.sign-in-btn > button {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;

  /* styles */
  padding: 0.8rem;
  width: 100%;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 500;
}

.grid-item-2 {
  background-image: url("./assets/sign-in-page.png");
  background-size: cover;
  background-position: center;
}
